<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ynu.mapper.BuyerMapper">
<!--    插入采购员-->
    <insert id="addBuyerById" parameterType="Buyer">
        insert into buyer values (#{u_id},#{u_name},#{u_sex},#{u_age})
    </insert>

<!--    删除采购员-->
    <delete id="deleteBuyerById" parameterType="java.lang.Integer">
        delete from buyer where u_id=#{u_id}
    </delete>

<!--    查找采购员-->
    <select id="getBuyerInfo" parameterType="java.lang.Integer">
        select * from buyer where u_id=#{u_id}
    </select>

<!--    更新采购员-->
    <update id="updateBuyerInfo" parameterType="Buyer">
        update buyer set u_name=#{u_name},u_sex=#{u_sex},u_age=#{u_age} where u_id=#{u_id}
    </update>



<!--    获取采购员编号列表-->
    <select id="getBuyerIdList" resultType="java.lang.Integer">
        select u_id from buyer
    </select>


<!--    根据采购员编号查找对应的订单信息-->
    <select id="getBuyerOrderList" parameterType="java.lang.Integer" resultType="MyOrder">
        select * from buy_list where u_id=#{u_id}
    </select>

<!--    采购员登录验证-->

    <select id="isValidBuyer" parameterType="Buyer" resultType="Buyer">
        select * from buyer where u_name=#{u_name} and u_password=#{u_password}
    </select>

<!--    返回所有采购员信息-->
    <select id="getBuyerList" resultType="Buyer">
        select * from buyer
    </select>

</mapper>