<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ynu.mapper.IRMapper">

    <resultMap id="iRMapper" type="com.ynu.pojo.Repertory">
        <id column="p_idd" property="r_id"  jdbcType="INTEGER"/>
        <id column="p_name" property="r_name" jdbcType="VARCHAR"/>

        <id column="p_type" property="r_type" jdbcType="VARCHAR"/>

        <id column="p_price" property="r_price" jdbcType="FLOAT"/>
        <id column="p_quantity" property="r_quantity" jdbcType="INTEGER"/>
        <id column="p_warehouse" property="r_warehouse" jdbcType="VARCHAR"/>
        <id column="p_shelf_number" property="r_shelf" jdbcType="INTEGER"/>

    </resultMap>

    <resultMap id="iRGoodsMapper" type="com.ynu.pojo.Repertory">
        <id column="gs_id" property="r_id" jdbcType="INTEGER"/>
        <id column="gs_name" property="r_name" jdbcType="VARCHAR"/>
        <id column="gs_class" property="r_type" jdbcType="VARCHAR"/>
        <id column="gs_price" property="r_price" jdbcType="FLOAT"/>
        <id column="gs_num" property="r_quantity" jdbcType="INTEGER"/>
        <id column="gs_ware" property="r_warehouse" jdbcType="INTEGER"/>
        <id column="gs_shelf" property="r_shelf" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getIR" parameterType="java.lang.Integer" resultType="ImportRecord">
        select * from import_list where im_id=#{im_id}
    </select>
    <select id="getIRList" resultType="ImportRecord">
        select * from import_list
    </select>
    <insert id="insertIR" parameterType="ImportRecord">
        insert into import_list value(#{im_id},#{m_id},#{c_id},#{im_quantity},#{im_time},#{im_principal},#{im_remarks})
    </insert>
    <update id="updateIR" parameterType="ImportRecord">
        update import_list set m_id=#{m_id},c_id=#{c_id},im_quantity=#{im_quantity},im_time=#{im_time},im_principal=#{im_principal},im_remarks=#{im_remarks}where im_id=#{im_id}
    </update>

    <delete id="deleteIR" parameterType="java.lang.Integer">
        delete from import_list where im_id = #{im_id}
    </delete>

    <select id="getRepertoryList" parameterType="Repertory" resultType="Repertory">
        select * from goods where gs_name like '%#{r_name}%'
    </select>



    <select id="getProductsRepertoryList" resultMap="iRMapper">
        select * from product
    </select>

    <select id="getGoodsRepertoryList" resultMap="iRGoodsMapper">
        select * from goods
    </select>


</mapper>