<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <typeAlias type="com.ynu.pojo.MyOrder" alias="MyOrder"></typeAlias>
        <typeAlias type="com.ynu.pojo.OrderGoods" alias="OrderGoods"></typeAlias>
        <typeAlias type="com.ynu.pojo.Buyer" alias="Buyer"></typeAlias>
        <typeAlias type="com.ynu.pojo.Supportor" alias="Supportor"></typeAlias>
    </typeAliases>

    <!-- 实体接口映射文件 -->
    <mappers>
        <mapper resource="mybatis/orderMapper.xml"/>
        <mapper resource="mybatis/orderGoodsMapper.xml"></mapper>
        <mapper resource="mybatis/buyerMapper.xml"></mapper>
        <mapper resource="mybatis/supportorMapper.xml"></mapper>
    </mappers>

</configuration>
