<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ynu.mapper.OrderGoodsMapper">

<!--    插入订单商品-->
        <insert id="addGoodsById" parameterType="OrderGoods">
            insert into gds_tobuy values (#{g_id},#{bl_id},#{g_name},
                                          #{g_clacc},#{g_num},#{g_price})
        </insert>

<!--    根据订单编号查找相应订单商品-->
        <select id="getGoodsList" parameterType="java.lang.Integer" resultType="OrderGoods">
            select * from gds_tobuy where bl_id=#{bl_id}
        </select>


<!--    根据订单编号删除订单中的商品-->
    <delete id="deleteOrderGoodsById" parameterType="java.lang.Integer">
        delete from gds_tobuy where bl_id=#{bl_id}
    </delete>


<!--    返回当前订单商品表中的所有商品-->

    <select id="getOrderGoodsList" resultType="OrderGoods">
        select * from gds_tobuy
    </select>


<!--    根据商品编号和订单编号唯一确定一个订单商品实体-->
    <select id="getOrderGoodsByGidBlId" parameterType="java.lang.Integer"  resultType="OrderGoods">
        select * from gds_tobuy where g_id=#{g_id} and bl_id=#{bl_id}
    </select>


<!--    根据商品编号更新订单商品信息-->

    <update id="updateOrderGoods" parameterType="OrderGoods">
        update gds_tobuy set bl_id=#{bl_id},g_name=#{g_name},g_clacc=#{g_clacc},
                             g_num=#{g_num},g_price=#{g_price} where g_id=#{g_id}
    </update>


<!--    删除特定商品-->

    <delete id="deleteOrderGoods" parameterType="java.lang.Integer">
        delete from gds_tobuy where g_id=#{g_id} and bl_id=#{bl_id}
    </delete>

</mapper>