<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ynu.mapper.OrderGoodsMapper">

<!--    插入订单商品-->
        <insert id="addGoodsById" parameterType="OrderGoods">
            insert into gds_tobuy values (#{g_id},#{bl_id},#{g_name},
                                          #{g_clacc},#{g_num},#{g_price})
        </insert>

<!--    根据订单编号查找相应订单商品-->
        <select id="getGoodsList" parameterType="java.lang.Integer">
            select * from gds_tobuy where bl_id=#{bl_id}
        </select>


<!--    根据订单编号删除订单中的商品-->
    <delete id="deleteOrderGoods" parameterType="java.lang.Integer">
        delete from gds_tobuy where bl_id=#{bl_id}
    </delete>

</mapper>