<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ynu.mapper.OrderGoodsMapper">
        <insert id="addGoodsById" parameterType="OrderGoods">
            insert into gds_tobuy values (#{g_id},#{bl_id},#{g_name},
                                          #{g_clacc},#{g_num},#{g_price})
        </insert>
</mapper>