<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ynu.mapper.SupportorMapper">

<!--    增加供应商-->
    <insert id="addSupportor" parameterType="Supportor">
        insert into supportor values (#{s_id},#{s_name},#{s_address},#{s_phone})
    </insert>


<!--删除供应商-->
    <delete id="deleteSupportor" parameterType="java.lang.Integer">
        delete from supportor where s_id=#{s_id}
    </delete>

<!--    查找供应商-->
    <select id="getSupportor" parameterType="java.lang.Integer" resultType="Supportor">
        select * from supportor where s_id=#{s_id}
    </select>


<!--    更新供应商信息-->
    <update id="updateSupportor" parameterType="Supportor">
        update supportor set s_id=#{s_id},s_name=#{s_name},s_address=#{s_address},
                             s_phone=#{s_phone}
    </update>

<!--    返回所有供应商信息-->

    <select id="getSupportorList" resultType="Supportor">
        select * from supportor
    </select>


<!--    根据供应商编号返回所有供应商的订单信息-->
    <select id="getSupportorOrderList">
        select * from buy_list where s_id=#{s_id}
    </select>

</mapper>