<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ynu.mapper.UsersMapper">

    <!--id对应方法名，入参对应属性名-->
    <select id="getUserList" resultType="Users">
        select * from buyer
    </select>

    <select id="search" parameterType="java.lang.String" resultType="Users">
        select * from buyer where u_id2 = #{u_id2}
    </select>

    <insert id="add" parameterType="Users">
        insert into buyer (u_name, u_sex, u_age, u_password) values (#{u_name}, #{u_sex}, #{u_age}, #{u_password})
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from buyer where u_id2 = #{u_id2}
    </delete>

    <update id="update" parameterType="Users">
        update buyer set u_name = #{u_name}, u_sex = #{u_sex}, u_age = #{u_age} , u_password = #{u_password} where  u_id2 = #{u_id2}
    </update>

</mapper>